.st-new-layout-tabs{
    display: flex;
    flex-direction: column;
    width: 100%;
    &-list{
        flex: 1;
    }
}
.prospect-list {
    display: block;
    background-color: red;
    height: inherit;
    overflow: auto;
}
.loading{
    position: absolute;
    background: rgba(255, 255, 255, 0.85);
    z-index: 9;
    height: 100%;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
