:global{
  *{
    box-sizing: border-box;
  }
  body,
  #app{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .listContainer{
    display: flex;
    flex: 1;
  }
  .Pleloader{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    text-align: center;
    padding: 16px;
    background: linear-gradient(to bottom, white 90%, transparent);
  }
  .form{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    padding: 20px;
    max-height: 100px;
    flex: 1;
  }
}
