.row {
  display: block;
  min-width: 100%;
  border-left: 0px;
  border-right: 0px;
  transition: 0.2s;
  background: white;
  border: 0px solid transparent;
  &:hover{
    background: #e7f3fb;
  }
  &Inner{
    padding: 4px 8px;
    display: flex;
  }
  &Open{
    .rowInner{
      padding: 32px 8px;
    }
  }
  &Date{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
  }
  &Row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &._left{
      position: relative;
      flex-direction: column;
      min-width: 85px;
      align-items: flex-start;
      justify-content: center;
      border-bottom: 1px solid red;
      ._index{
        right: 0;
      }
    }
    &._right{
      position: relative;
      flex-direction: column;
      min-width: 85px;
      align-items: flex-end;
      justify-content: center;
      border-bottom: 1px solid blue;
      ._index{
        left: 0;
      }
    }
    &Left{

    }
    &Col{
      padding: 0 4px;
      &._index{
        position: absolute;
        margin-right: 0 16px;
      }
    }
  }
  .text{
    font-size: 10px;
    &.time{
      font-weight: bold;
    }
  }
  &HideTime{
    .text{
      &.time{
        transition: 0.2s;
        opacity: 0;
      }
    }
    &:hover{
      .text{
        &.time{
          opacity: 1;
        }
      }
    }
  }
}
