.body{
  height: 100%;
  width: 100%;
  grid-gap: 10px;
  display: grid;
  grid-template-areas: "rightMenu  main";
  grid-template-columns: 200px auto;
  &Content{
    display: flex;
    width: 100%;
    position: relative;
    grid-area: main;
  }
}
.RightMenu{
  grid-area: rightMenu;
}
.Menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 8px;
  &Item{
    cursor: pointer;
    padding: 8px 16px;
  }
}
